@model Nespe.Models.ArrivalEditFormulaireModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;


   <table border="0">
        <caption align ="left"><h5>@NameNC @SurnameNC @EmployeeNumberNC @kind :</h5></caption>
        <tr>
            <th colspan=7 align="center">Préparation de l'arrivée du nouveau collaborateur</th>
        </tr>
        <tr>
            <th>Tâche</th>
            <th>Infos tâche</th>
            <th>Executée par :</th>
            <th>Date</th>
            <th>Etat</th>
            <th>Finir</th>
            <th>Commentaire</th>
        </tr>
        <tr>
            <th>Demande IT</th>
            <td>Demade par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#ccffcc" >done</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editITComment)</td>
        </tr>
        <tr>
            <th>Installation matériel</th>
            <td>"numéro ticket"</td>
            <td>"Technicien en charge"</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editITHardwareComment)</td>
        </tr>
        <tr>
            <th>Accès au N:</th>
            <td>lien page N</td>
            <td>@Assistant or @HeadDepartment</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer</td>
            <td>@Html.TextAreaFor(x => x.editNComment)</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>Demande par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#ccffcc">done</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editPhoneComment)</td>
        </tr>
        <tr>
            <th>Rôles SAP</th>
            <td>Demande par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#ccffcc">done</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editSAPComment)</td>
        </tr>
        <tr>
            <th>Project Management Office</th>
            <td>Demande par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#ccffcc">done</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editPMOComment)</td>
        </tr>
        <tr>
            <th>Case courrier</th>
            <td>Demande par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#ccffcc">done</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editMailCaseComment)</td>
        </tr>
        <tr>
            <th>Chaussures sécurité, blouse</th>
            <td>Demande par le formulaire</td>
            <td>@Assistant</td>
            <td>@dateCompleted</td>
            <td bgcolor="#66ccff">pas besoin</td>
            <td></td>
            <td>@Html.TextAreaFor(x => x.editClothesComment)</td>
        </tr>
        <tr>
            <th>Programme Intro individualisé</th>
            <td><a href="http://teamroom.eur.nestle.com/RD_DMS/AssistantsPTCOrbe/Personal%20Newcomers/Arriv%C3%A9e%20nouveaux%20collaborateurs%20-%20Dossier%20de%20pr%C3%A9paration/Intro%20programme%202012.xls" target="_blank">Template intro program</a></td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer</td>
            <td>@Html.TextAreaFor(x => x.editIntroProgComment)</td>
        </tr>
        <tr>
            <th>Annonce d'arrivée</th>
            <td><a href="http://teamroom.eur.nestle.com/RD_DMS/AssistantsPTCOrbe/Personal%20Newcomers/Arriv%C3%A9e%20nouveaux%20collaborateurs%20-%20Dossier%20de%20pr%C3%A9paration/Template%20Arrival%20Note%20(ver.%20MAR2011).ppt" target="_blank">Template Annonce Newcomers</a></td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer</td>
            <td>@Html.TextAreaFor(x => x.editAnnouncementComment)</td>
        </tr>
        <tr>
            <th>Organisation 1er repas</th>
            <td><a href="http://thenest-eur-hq.nestle.com/RD/RD_RLOC/Europe/OrbePTC/documents/indexable/Facility%20Management/2009-11%20Process%20Complaints%20V2-091101.pdf">réservation</a> + inviter DH ou Groupe leader</td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer</td>
            <td>@Html.TextAreaFor(x => x.editFirstMealComment)</td>
        </tr>
        <tr>
            <th>Documents SHE</th>
            <td>lien</td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer</td>
            <td>@Html.TextAreaFor(x => x.editSHEComment)</td>
        </tr>
        <tr>
            <th>Etiquette porte bureau</th>
            <td></td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer / non-nécessaire</td>
            <td>@Html.TextAreaFor(x => x.editDoorComment)</td>
        </tr>
        <tr>
            <th>Commander cartes de visite</th>
            <td><a href="mailto:andréanne.dolci-rey@rdor.nestle.com?Subject=Commande%20cartes%20de%20visite">cliquer ici pour faire la demande</a></td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer / non-nécessaire</td>
            <td>@Html.TextAreaFor(x => x.editDoorComment)</td>
        </tr>
        <tr>
            <th>Mise à jour des listes de distribution</th>
            <td></td>
            <td>@Assistant</td>
            <td></td>
            <td bgcolor="#ff6666">en cours</td>
            <td>clôturer / non-nécessaire</td>
            <td>@Html.TextAreaFor(x => x.editDoorComment)</td>
        </tr>
    </table>
    @*Bouton enregistre modifs*@