@model Nespe.Application.WebSite.Models.DeparturePersonTaskRequestItemModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DeparturePersonTaskRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Initials)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Initials)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.DepartureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.DepartureDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.IsRetirement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.IsRetirement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Version)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Rank)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Rank)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.TypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.TypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.SapPositionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.SapPositionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSelected.CostCenter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSelected.CostCenter)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
