@model Nespe.Application.WebSite.Models.DepartmentItemModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        @Html.HiddenFor(model => model.ItemSelected.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.SID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.SID)
            @Html.ValidationMessageFor(model => model.ItemSelected.SID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.Name)
            @Html.ValidationMessageFor(model => model.ItemSelected.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemSelected.Description, new { rows=10})
            @Html.ValidationMessageFor(model => model.ItemSelected.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.Entity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.Entity)
            @Html.ValidationMessageFor(model => model.ItemSelected.Entity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.EMail)
            @Html.ValidationMessageFor(model => model.ItemSelected.EMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemSelected.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.Phone)
            @Html.ValidationMessageFor(model => model.ItemSelected.Phone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
