@using System.Linq;
@{
    ViewBag.Title = "Nespe - Accueil";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Accueil</h1>
                
            </hgroup>

        </div>
    </section>
}
<h3>Opérations en cours :</h3>
    <table>
        <caption align ="left"><h5>Arrivées :</h5></caption>
        @if (Model.ArrivalRequestSet == null)
        {
        <tr>
        <td>Aucun pour le moment</td>
        </tr>
            }
            @foreach (var dr in Model.ArrivalRequestSet)
            { 
            <tr>
                <td>@dr.SurnameNC @dr.NameNC</td>
                <td>@String.Format("{0:d}", dr.StartDateNC)</td>
                @if (dr.IsOverTime)
                {
                <td>@Math.Round(dr.ElapsedTime.TotalDays,0) jours restants </td>
                }
                else { 
                    <td style="color:red;">@Math.Round(dr.ElapsedTime.TotalDays*(-1),0)  jours dépassés </td>
                }
                <td>@dr.DepartmentNC</td>
            </tr>     
       
   }
    </table>

    <table>
        <caption align ="left"><h5>Transferts :</h5></caption>
        @if (Model.TransfertRequestSet == null )
        {
        <tr>
        <td>Aucun pour le moment</td>
        </tr>
       }
       @foreach (var dr in Model.TransfertRequestSet)
       { 
        <tr>
            <td>@dr.SurnameNC @dr.NameNC</td>
            <td>@String.Format("{0:d}", dr.StartDateNC)</td>
            @if (dr.IsOverTime)
            {
            <td>@Math.Round(dr.ElapsedTime.TotalDays,0) jours restants </td>
            }
            else { 
                <td style="color:red;">@Math.Round(dr.ElapsedTime.TotalDays*(-1),0)  jours dépassés </td>
            }
            <td>@dr.DepartmentNC</td>
        </tr>     
       
      }
    </table>

    <table>
        <caption align ="left"><h5>Départs :</h5></caption>
        @if (Model.DepartureRequestSet == null)
        {
        <tr>
            <td>Aucun pour le moment</td>
        </tr>
        }
        @foreach (var dr in Model.DepartureRequestSet)
        { 
        <tr>
            <td>@dr.SurnameNC @dr.NameNC</td>
            <td>@String.Format("{0:d}", dr.StartDateNC)</td>
            @if (dr.IsOverTime)
            {
            <td>@Math.Round(dr.ElapsedTime.TotalDays,0) jours restants </td>
            }
            else
            { 
                <td style="color:red;">@Math.Round(dr.ElapsedTime.TotalDays*(-1),0)  jours dépassés </td>
            }
            <td>@dr.departmentNC</td>
        </tr>     
       
        }
    </table>



