@model Nespe.Request
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using RequestKindEnum = Nespe.RequestKindEnum;
@{
    ViewBag.Title = "Nespe - Nouvelle demande";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Nouvelle demande</h1>
                
            </hgroup>

        </div>
    </section>
}


    <h3>Type de demande :</h3>
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Arrival)@Html.ActionLink("Nouvelle arrivée ", "ArrivalNewRequest")
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Transfert)@Html.ActionLink("Transfert", "TransfertNewRequest")
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Departure)@Html.ActionLink("Departure", "DepartureNewRequest")
    <h3>Informations nouvelle demande :@Model.kind  <i>@Html.DisplayTextFor(x=>x.kind)</i></h3>
        @if (this.IsPost)
        {
            @Html.ValidationSummary(true)
        }
        <table class="Form">
        @using (Html.BeginForm())
        {

            if (Model.kind == RequestKindEnum.Arrival || Model.kind == RequestKindEnum.Transfert)
            {
                <tr>
                    <th>@Html.LabelFor(x => x.SurnameNC)</th>
                    <td style="width:80%;">@Html.TextBoxFor(x => x.SurnameNC)<br />@Html.ValidationMessageFor(x => x.SurnameNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.NameNC)</th>
                    <td>@Html.TextBoxFor(x => x.NameNC)<br />@Html.ValidationMessageFor(x => x.NameNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.DepartmentNC)</th>
                    <td>@Html.DropDownListFor(x => x.DepartmentNC, new[] {
                    new SelectListItem() {Text= "Nom Dept 1", Value = "Dept1"},
                    new SelectListItem() {Text= "Nom Dept 2", Value = "Dept2"}
                            }, "Choisissez le dept")<br />@Html.ValidationMessageFor(x => x.DepartmentNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.FunctionNC)</th>
                    <td>@Html.TextBoxFor(x => x.FunctionNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.SuperiorNC)</th>
                    <td>@Html.TextBoxFor(x => x.SuperiorNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.BusinessStreamNC)</th>
                    <td>@Html.TextBoxFor(x => x.BusinessStreamNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.StartDateNC)</th>
                    <td>@Html.TextBoxFor(x => x.StartDateNC, new {@class="dateField"})</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.EmployeeNumberNC)</th>
                    <td style="width:80%;" nowrap="nowrap">@Html.TextBoxFor(x => x.EmployeeNumberNC) &nbsp; @Html.CheckBoxFor(x => x.nonSAPNC) Non-Sap</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.LocalNC)</th>
                    <td>@Html.TextBoxFor(x => x.LocalNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.PhoneNC)</th>
                    <td>@Html.TextBoxFor(x => x.PhoneNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.initialsNC)</th>
                    <td>@Html.TextBoxFor(x => x.initialsNC)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Parrain)</th>
                    <td>@Html.TextBoxFor(x => x.Parrain)</td>
                </tr>
                if (Model.kind == RequestKindEnum.Transfert)
                {
                    
                <tr>
                    <th>@Html.LabelFor(x => x.TransFrom)</th>
                    <td>@Html.TextBoxFor(x => x.TransFrom)</td>
                </tr>

                }
            }
        <tr>
            <th colspan="2">
                @Html.HiddenFor(requestType => requestType.kind)
                <input type="submit" value="Soumettre Demande"/>
            </th>
        </tr>
        }
        
        </table>
        <P>Date: <INPUT id=datepicker></P>
@*<form>
    <table>
        <tr>
            <td>Nom :</td>
            <td><INPUT type="text" name="SurnameNC"></td>
        </tr>
        <tr>
            <td>Prénom :</td>
            <td><INPUT type="text" name="NameNC"></td>
        </tr>
        <tr>
            <td>Département :</td>
            <td><INPUT type="text" name="DepartmentNC"></td>
        </tr>
        <tr>
            <td>Fonction :</td>
            <td><INPUT type="text" name="FunctionNC"></td>
        </tr>
        <tr>
            <td>Supérieur hiérarchique :</td>
            <td><INPUT type="text" name="SuperiorNC"></td>
        </tr>
        <tr>
            <td>Business Stream :</td>
            <td><INPUT type="text" name="BusinessStreamNC"></td>
        </tr>
        <tr>
            <td>Date de début :</td>
            <td><INPUT type="text" name="StartDateNC"></td>
        </tr>
        <tr>
            <td>Numéro d'employé :</td>
            <td><INPUT type="text" name="EmployeeNumberNC"></td>
            <td><input type="checkbox" name="nonSAPNC" />non-SAP</td>
        </tr>
        <tr>
            <td>Loal :</td>
            <td><INPUT type="text" name="LocalNC"></td>
        </tr>
        <tr>
            <td>Télépone :</td>
            <td><INPUT type="text" name="PhoneNC"></td>
        </tr>
        <tr>
            <td>Initiales :</td>
            <td><INPUT type="text" name="initialsNC"></td>
        </tr>
        <tr>
            <td>Provenant de :</td>
            <td><INPUT type="text" value="si transfert" name="TransFrom"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><INPUT type=button name="Send" value="Envoyer"></td>
        </tr>
    </table>
</form>

<form>
    <table>
        <tr>
            <td>Personne partant :</td>
            <td><INPUT type="text" name="Surname"><input type=button value="search" /></td>
        </tr>
        <tr>
            <td>Date départ :</td>
            <td><INPUT type="text" name="DepartureDate"></td>
        </tr>
        <tr>
            <td>Local :</td>
            <td><INPUT type="text" name="Local"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><INPUT type=button name="Send" value="Envoyer"></td>
        </tr>
    </table>
</form>*@