@model Nespe.Models.ArrivalNewRequestModel

                <fieldset>
                    <legend></legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Function)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Function)
                        @Html.ValidationMessageFor(model => model.Function)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Superior)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Superior)
                        @Html.ValidationMessageFor(model => model.Superior)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BusinessStream)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BusinessStream)
                        @Html.ValidationMessageFor(model => model.BusinessStream)
                    </div>
                </fieldset>
