@model Nespe.Models.TransfertNewRequestModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;

@using RequestKindEnum = Nespe.Models.RequestKindEnum;
@{
        //WorkflowInvoker.Invoke(new Workflow1());
        /*
        var db = new NespeDbContext();
        //db.Database.CreateIfNotExists();
        var tc = db.RequestSet;
        var dr = tc.Create();
        dr.NameNC = "MArtin";
        dr.SurnameNC = "Airas";
        db.SaveChanges();
         */
        }
    @Html.Partial("_TopPartialView")
        
        @using (Html.BeginForm())
        {
            <fieldset class="Form">
            <p class="Validation">@Html.ValidationSummary(false)</p>
            @Html.HiddenFor(model => model.Id)
            @Html.Partial("_TransfertPartialView")
                <p>
                    @Html.HiddenFor(requestType => requestType.kind)
                    <input type="submit" value="Soumettre Demande"/>
                </p>
            </fieldset>
        }
        
        
@Html.Partial("_BottomPartialView")