@model Nespe.Request
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;
<table>
    <caption align=left><h5>Departements :</h5></caption>
    <tr>
        <th>@Html.LabelFor(x=>x.department)</th>
        <th>@Html.LabelFor(x=>x.headDepartment)</th>
        <th>@Html.LabelFor(x=>x.assistant1)</th>
        <th>@Html.LabelFor(x=>x.assistant2)</th>
        <th>@Html.LabelFor(x=>x.assistant3)</th>
        <th></th>
        <th>Nouveau</th>
    </tr>
    @foreach (var dr in Model.AdministrationRequestSet)
    {
    <tr>
        <td>@dr.departement</td>
        <td>@dr.headDepartment</td>
        <td>@dr.assistant1</td>
        <td>@dr.assistant2</td>
        <td>@dr.assistant3</td>
        <td>edit</td>
        <td>delete</td>
    </tr>
    }
</table>
