@model Nespe.Models.DepartmentModel
<fieldset class="Form">
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Selected.SID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Selected.SID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Selected.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Selected.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Selected.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Selected.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Selected.EMail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Selected.EMail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Selected.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Selected.Phone)
    </div>
</fieldset>
