@model IEnumerable<Nespe.Models.Request>
@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
*@
<table>
    <caption align ="left"><h5></h5></caption>
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElapsedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td>@String.Format("{0:d}", item.StartDate)</td>
        @if (item.IsOverTime)
        {
            <td style="color:red;">@Math.Round(item.ElapsedTime.TotalDays, 0)&nbsp;jours dépassés</td>
        }
        else
        { 
            <td>@Math.Round(item.ElapsedTime.TotalDays * (-1), 0)&nbsp;jours restants</td>
        }
        <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
    </tr>
    
}
</tbody>
</table>
