@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;

    <table border="0">
         <tr>
            <th colspan ="7">After departure for assistants</th>
        </tr>
        <tr>
            <th>Servers access deletation</th>
            <td><a href="création fichier XML supression accès">Do the request with copy of comment</a></td>
            <td>@Assistante</td>
            <td>@DateCompletedRemoveAccessIT</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedRemoveAccessIT)</td>
        </tr>
        <tr>
            <th>Delete DMS access</th>
            <td><a href="email de demande envoyé">Do the request with copy of comment</a></td>
            <td>@Assistante</td>
            <td>@DateCompletedRemoveAccessDMS</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedRemoveAccessDMS)</td>
        </tr>
        <tr>
            <th>Update department's presentation</th>
            <td>Update intranet, the Nest</a></td>
            <td>@Assistante</td>
            <td>@DateCompletedModifyTheNest</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedModifyTheNest)</td>
        </tr>
        <tr>
            <th>Delete from phone list</th>
            <td><a href="email de demande envoyé">Do the request with copy of comment</a></td>
            <td>@Assistante</td>
            <td>@DateCompletedRemovePhoneList</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedRemovePhoneList)</td>
        </tr>
        <tr>
            <th>Delete Name from mail case</th>
            <td><a href="email de demande envoyé">Do the request with copy of comment</a></td>
            <td>@Assistante</td>
            <td>@DateCompletedRemoveMailCase</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedRemoveMailCase)</td>
        </tr>
        <tr>
            <th>Update names on room's door</th>
            <td></td>
            <td>@Assistante</td>
            <td>@DateCompletedRemoveDoorName</td>
            <td <td bgcolor="#ff6666"></td>
            <td> Not necessary</td>
            <td>@Html.TextAreaFor(x => x.editCompletedRemoveDoorName)</td>
        </tr>
   </table>
   @*Bouton enregistre modifs*@