@model Nespe.Models.IntroRequestInfo
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;


    <table class="Form">
        <caption align ="left"><h5>Iinvitation aux intros Dept :</h5></caption>
        <tr>
            <td>@Html.RadioButtonFor(x => x.necessaryIntro, true)Nécessaire</td>
            <td>@Html.RadioButtonFor(x => x.necessaryIntro, false, new { Checked = "checked" })Non-nécessaire</td>       
        </tr>            
        <tr>
            <td>@Html.RadioButtonFor(x => x.introLanguage, "en") Anglais</td>
            <td>@Html.RadioButtonFor(x => x.introLanguage, "fr") Français</td>
        </tr>    
        <tr>
            <td>@Html.LabelFor(x => x.commentIntro)</td>
            <td colspan="2">@Html.TextAreaFor(x => x.commentIntro, new { @class = "wide" })</td>
        </tr>
    </table>
 