@model Nespe.Models.ITRequestInfo
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;

    <table class="Form">
        <caption align ="left"><h5>Infos pour IT :</h5></caption>
        <tr>
            <td>@Html.RadioButtonFor(x => x.necessaryIT, true)Nécessaire</td>
            <td>@Html.RadioButtonFor(x => x.necessaryIT, false, new { Checked = "checked" })Non-nécessaire</td>       
        </tr>     
        <tr>
            <td>@Html.CheckBoxFor(x => x.laptop)@Html.LabelFor(x => x.laptop)</td>
            <td>@Html.CheckBoxFor(x => x.docking)@Html.LabelFor(x => x.docking)</td>
            <td>@Html.CheckBoxFor(x => x.keyboard)@Html.LabelFor(x => x.keyboard)</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(x => x.desktop)@Html.LabelFor(x => x.desktop)</td>
            <td>@Html.CheckBoxFor(x => x.screen)@Html.LabelFor(x => x.screen)</td>
            <td>@Html.CheckBoxFor(x => x.mouse)@Html.LabelFor(x => x.mouse)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.commentIT)</td>
            <td colspan="2">@Html.TextAreaFor(x => x.commentIT, new { @class = "wide" })</td>
        </tr>
    </table>
