@model Nespe.Models.ArrivalCompleterFormulaireModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;
@{
    ViewBag.Title = "Nespe - Formulaire nouveau collaborateur";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Formulaire Nouveau collaborateur :Completer</h1>
                
            </hgroup>

        </div>
    </section>

}
@using (Html.BeginForm())
{
    <fielset class="Form">
    @Html.EditorFor(m => m.RequestModel, "_ArrivalRequestPartialView")
    

    @if (Model.ITInfo != null)
    { 
        @Html.EditorFor(m=>m.ITInfo, "_ITRequestInfoPartialView")
    }

    @if (Model.TelephoneInfo != null)
    { 
        @Html.EditorFor(m=>m.TelephoneInfo, "_TelephoneRequestInfoPartialView")
    }

    @if (Model.RoleSAPInfo != null)
    { 
        @Html.EditorFor(m=>m.RoleSAPInfo, "_RolesSAPRequestInfoPartialView")
    }

    @if (Model.PMOInfo != null)
    { 
        @Html.EditorFor(m=>m.PMOInfo, "_PMORequestInfoPartialView")
    }

    @if (Model.MailCaseInfo != null)
    { 
        @Html.EditorFor(m=>m.MailCaseInfo, "_MailCaseRequestInfoPartialView")
    }

    @if (Model.ClothesInfo != null)
    { 
        @Html.EditorFor(m=>m.ClothesInfo, "_ClothesRequestInfoPartialView")
    }

    @if (Model.LockerInfo != null)
    { 
        @Html.EditorFor(m=>m.LockerInfo, "_LockerRequestInfoPartialView")
    }

    @if (Model.IntroInfo != null)
    { 
        @Html.EditorFor(m=>m.IntroInfo, "_IntroRequestInfoPartialView")
    }


    <fieldset class="Action">
        <input type="submit" />
    </fieldset>
</fielset>
}

