@model Nespe.Models.ArrivalCompleterFormulaireModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;
@{
    ViewBag.Title = "Nespe - Formulaire nouveau collaborateur";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Newcomer Form :Complete</h1>
                
            </hgroup>

        </div>
    </section>

}
@using (Html.BeginForm())
{
    <fieldset class="Form">
    @Html.EditorFor(m => m.RequestModel, "_ArrivalNewRequest.Completer")
    @Html.ValidationSummary()

    @if (Model.ITInfo != null)
    { 
        @Html.HiddenFor(m=>m.ITInfo.Id)
        @Html.HiddenFor(m => m.ITInfo.Request_Id)
        @Html.EditorFor(m => m.ITInfo, "_ITRequestInfoPartialView")
    }

    @if (Model.TelephoneInfo != null)
    { 
        @Html.HiddenFor(m => m.TelephoneInfo.Id)
        @Html.HiddenFor(m => m.TelephoneInfo.Request_Id)
        @Html.EditorFor(m => m.TelephoneInfo, "_TelephoneRequestInfoPartialView")
    }

    @if (Model.RoleSAPInfo != null)
    { 
        @Html.HiddenFor(m => m.RoleSAPInfo.Id)
        @Html.HiddenFor(m => m.RoleSAPInfo.Request_Id)
        @Html.EditorFor(m => m.RoleSAPInfo, "_RolesSAPRequestInfoPartialView")
    }

    @if (Model.PMOInfo != null)
    { 
        @Html.HiddenFor(m => m.PMOInfo.Id)
        @Html.HiddenFor(m => m.PMOInfo.Request_Id)
        @Html.EditorFor(m => m.PMOInfo, "_PMORequestInfoPartialView")
    }

    @if (Model.MailCaseInfo != null)
    { 
        @Html.HiddenFor(m => m.MailCaseInfo.Id)
        @Html.HiddenFor(m => m.MailCaseInfo.Request_Id)
        @Html.EditorFor(m => m.MailCaseInfo, "_MailCaseRequestInfoPartialView")
    }

    @if (Model.ClothesInfo != null)
    { 
        @Html.HiddenFor(m => m.ClothesInfo.Id)
        @Html.HiddenFor(m => m.ClothesInfo.Request_Id)
        @Html.EditorFor(m => m.ClothesInfo, "_ClothesRequestInfoPartialView")
    }

    @if (Model.LockerInfo != null)
    { 
        @Html.HiddenFor(m => m.LockerInfo.Id)
        @Html.HiddenFor(m => m.LockerInfo.Request_Id)
        @Html.EditorFor(m => m.LockerInfo, "_LockerRequestInfoPartialView")
    }

    @if (Model.IntroInfo != null)
    { 
        @Html.HiddenFor(m => m.IntroInfo.Id)
        @Html.HiddenFor(m => m.IntroInfo.Request_Id)
        @Html.EditorFor(m => m.IntroInfo, "_IntroRequestInfoPartialView")
    }


    <fieldset class="Action">
        <input type="submit" />
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.RequestModel.Id)
    </fieldset>
</fieldset>
}

