@model Nespe.Application.WebSite.Models.PersonDepartmentListModel
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemSelected.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemSelected.Department.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemList) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Role)</td>
        <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>

        <th nowrap="nowrap">
            @Html.ActionLink("Edit", "Edit", "PersonDepartment", new { id=item.Id }, new  { }) |
            @Html.ActionLink("Details", "Details", "PersonDepartment", new { id=item.Id }, new  { }) |
            @Html.ActionLink("Delete", "Delete", "PersonDepartment", new { id=item.Id }, new  { })
        </th>
    </tr>
}
    </tbody>
</table>
