@model Nespe.Application.WebSite.Models.PersonDepartmentItemModel
@using Nespe.Data.Entities;
@using Nespe.Application.WebSite.Models;

@using (Html.BeginForm("Create", "PersonDepartment"))
{
    //throw new Exception(Model.Args.ToString());
    var pl = (IEnumerable<Department>)Model.Args;
    //var q = (from t in pl.ItemList select new { Id=t.Id, Fullname=t.FullName });
    var q = new List<Department>();
    foreach (var p in pl)
    {
        q.Add(p);
    }
    var selectList = new SelectList(q, "Id", "Name");

    <fieldset class="Form">
        <legend>@Html.DisplayTextFor(model => model.ItemSelected.Department)</legend>
        @Html.HiddenFor(m => Model.ItemSelected.Person.Id)

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ItemSelected.Department)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ItemSelected.Department.Id, selectList)
        </div>
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ItemSelected.Role)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemSelected.Role)
        </div>
        <hr />
        <p>
            <input type="submit" value="Save" />
        </p>

    </fieldset>
}
