@model Nespe.Models.ArrivalNewRequestModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;


    <table class="Form">
        <caption align ="left">Infos de Base :</caption>
        <tr>
            <td>@Html.LabelFor(x => x.NameNC)</td>
            <td>@Html.TextBoxFor(x => x.NameNC)</td>
            <td>@Html.LabelFor(x => x.SurnameNC)</td>
            <td>@Html.TextBoxFor(x => x.SurnameNC)</td>
        </tr>     
        <tr>
            <td>@Html.LabelFor(x => x.DepartmentNC)</td>
            <td>@Html.TextBoxFor(x => x.DepartmentNC)</td>
            <td>@Html.LabelFor(x => x.FunctionNC)</td>
            <td>@Html.TextBoxFor(x => x.FunctionNC)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.SuperiorNC)</td>
            <td>@Html.TextBoxFor(x => x.SuperiorNC)</td>
            <td>@Html.LabelFor(x => x.BusinessStreamNC)</td>
            <td>@Html.TextBoxFor(x => x.BusinessStreamNC)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.StartDateNC)</td>
            <td>@Html.TextBoxFor(x => x.StartDateNC)</td>    
            <td>@Html.LabelFor(x => x.EmployeeNumberNC)</td>
            <td>@Html.TextBoxFor(x => x.EmployeeNumberNC)</td>  
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.LocalNC)</td>
            <td>@Html.TextBoxFor(x => x.LocalNC)</td>
            <td>@Html.LabelFor(x => x.PhoneNC)</td>
            <td>@Html.TextBoxFor(x => x.PhoneNC)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.initialsNC)</td>
            <td>@Html.TextBoxFor(x => x.initialsNC)</td>
            <td>@Html.LabelFor(x => x.Parrain)</td>
            <td>@Html.TextBoxFor(x => x.Parrain)</td>
        </tr>
        </table>
