@model Nespe.Models.ArrivalNewRequestModel

<table>
    <tbody>

        <tr>
            <td>
                @Html.Partial("_PersonPartialView.ReadOnly")
                @Html.Partial("_LocationPartialView.ReadOnly")
            </td>
            <td>
                @Html.Partial("_DepartmentPartialView.ReadOnly")
                <div class="editor-label">
                    @Html.LabelFor(model => model.ActiveDirectoryId)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ActiveDirectoryId, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ActiveDirectoryId)
                </div>
            </td>
            <td>
                @Html.Partial("_RolePartialView.ReadOnly")
                <fieldset>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EmployeeNumber)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.EmployeeNumber, new { @readonly = "readonly"})
                        @Html.ValidationMessageFor(model => model.EmployeeNumber)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.nonSAP)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.nonSAP, new { @readonly = "readonly"})
                        @Html.ValidationMessageFor(model => model.nonSAP)
                    </div>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                
                
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>    
    
        
