@model Nespe.Models.IntroRequestInfo
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;


    <table class="Form">
        <caption align ="left"><h5>Iinvitation to department introductions :</h5></caption>
        <tr>
            <td>@Html.RadioButtonFor(x => x.IsRequired, true)Necessary</td>
            <td>@Html.RadioButtonFor(x => x.IsRequired, false, new { Checked = "checked" })Not Necessary</td>       
        </tr>            
        <tr>
            <td>@Html.RadioButtonFor(x => x.introLanguage, "Anglais") English</td>
            <td>@Html.RadioButtonFor(x => x.introLanguage, "Français") French</td>
        </tr>    
        <tr>
            <td>@Html.LabelFor(x => x.Comment)</td>
            <td colspan="2">@Html.TextAreaFor(x => x.Comment, new { @class = "wide" })</td>
        </tr>
    </table>
 