@model Nespe.Models.TelephoneRequestInfo
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;

 
    <table class="Form">
        <caption align ="left"><h5>Telephone :</h5></caption>
        <tr>
            <td>@Html.RadioButtonFor(x => x.IsRequired, true)Necessary</td>
            <td>@Html.RadioButtonFor(x => x.IsRequired, false, new { Checked = "checked" })Not necessary</td>       
        </tr>    
        <tr>
            <td>@Html.CheckBoxFor(x => x.fixPhone)@Html.LabelFor(x => x.fixPhone)</td>
            <td>@Html.CheckBoxFor(x => x.cordless)@Html.LabelFor(x => x.cordless)</td>
            <td>@Html.CheckBoxFor(x => x.mobile)@Html.LabelFor(x => x.mobile)</td>
            <td>@Html.CheckBoxFor(x => x.smartphone)@Html.LabelFor(x => x.smartphone)</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(x => x.headphoneForFix)@Html.LabelFor(x => x.headphoneForFix)</td>
            <td>@Html.CheckBoxFor(x => x.headphoneForCordless)@Html.LabelFor(x => x.headphoneForCordless)</td>      
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(x => x.freeHandsForFix)@Html.LabelFor(x => x.freeHandsForFix)</td>
            <td>@Html.CheckBoxFor(x => x.freeHandsForCordless)@Html.LabelFor(x => x.freeHandsForCordless)</td>
        </tr>    
        <tr>
            <td>@Html.LabelFor(x => x.Comment)</td>
            <td colspan="2">@Html.TextAreaFor(x => x.Comment, new { @class = "wide" })</td>
        </tr>
    </table>
 