@model Nespe.Models.DepartmentModel
@*
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
*@
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        @Html.HiddenFor(model => model.Selected.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Selected.SID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Selected.SID)
            @Html.ValidationMessageFor(model => model.Selected.SID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Selected.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Selected.Name)
            @Html.ValidationMessageFor(model => model.Selected.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Selected.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Selected.Description)
            @Html.ValidationMessageFor(model => model.Selected.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Selected.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Selected.EMail)
            @Html.ValidationMessageFor(model => model.Selected.EMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Selected.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Selected.Phone)
            @Html.ValidationMessageFor(model => model.Selected.Phone)
        </div>

        <p>
            <input type="submit" value="Save" />
            @Html.HiddenFor(m=>m.Selected.Id)
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
