@model Nespe.Models.AbstractNewRequestModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using RequestKindEnum = Nespe.Models.RequestKindEnum;
@{
    ViewBag.Title = "Nespe - Nouvelle demande";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Nouvelle demande</h1>
                
            </hgroup>

        </div>
    </section>
}


    <h3>Type de demande :</h3>
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Arrival)@Html.ActionLink("Nouvelle arrivée ", "Arrival")
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Transfert)@Html.ActionLink("Transfert", "Transfert")
    @Html.RadioButtonFor(requestType => requestType.kind, RequestKindEnum.Departure)@Html.ActionLink("Departure", "Departure")
    <h3>Informations nouvelle demande :@Model.kind  <i>@Html.DisplayTextFor(x=>x.kind)</i></h3>
        @if (this.IsPost)
        {
            @Html.ValidationSummary(true)
        }

