@model Nespe.Models.AbstractNewRequestModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AbstractNewRequestModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurnameNC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurnameNC)
            @Html.ValidationMessageFor(model => model.SurnameNC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NameNC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameNC)
            @Html.ValidationMessageFor(model => model.NameNC)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
