@model Nespe.Models.TransfertNewRequestModel
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using RequestKindEnum = Nespe.RequestKindEnum;
    @Html.Partial("_TopPartialView")
        <table class="Form">
        @using (Html.BeginForm())
        {

            @Html.Partial("_ArrivalPartialView")
            @Html.Partial("_TransfertPartialView")
            <tr>
                <th colspan="2">
                    @Html.HiddenFor(requestType => requestType.kind)
                    <input type="submit" value="Soumettre Demande"/>
                </th>
            </tr>
        }
        
        
        </table>
@Html.Partial("_BottomPartialView")